.App {
  background-color: #fefefe;
  height: 100vh;
  width: 100%;
}

/* overall container */
.my-container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.my-container-header h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

/* container body */
.my-container .sub-container {
  margin-top: 20px;
  border: beige;
  border-style: groove;
  padding: 5px;
}

/* stat page  */
.stat-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

  padding: 5px;
  /* border: solid 1px; */
  background-color: #0d0d0d0f;
}

.stat-sub-left {
  display: flex;
  flex-direction: column;
  width: 80%;
  flex: 1;
  order: 1;
}

.stat-sub-right {
  display: flex;
  flex-direction: column;
  margin-right: 2%;
  width: 20%;
  flex: 1;
  order: 2;
  padding-left: 25px;
}

#stat-description-div {
  margin-top: 1px;
  min-height: 40%;
  padding: 5px;
  background-color: #e3ffa8;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px 0px;
  .div { margin-top: 5px;}
}

.RouteDescHeader {
    border-spacing: 1;
    border-collapse: collapse;
    border-radius: 5px;
    padding: 5px 10px;
    background: #36304a;
    font-family: OpenSans-Regular;
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    font-weight: bold;
}

.RouteDescBody {
    border-radius: 10px;
    border-spacing: 1;
    border-collapse: collapse;
    background-color: white;
    padding: 20px;
}

@media (max-width: 864px) {
  .stat-sub-left, .stat-sub-right {
    flex: 100%; /* Make columns take up 100% width individually */
    order: 0;
  }
}

.btn.btn-pug {
  appearance: button;
  backface-visibility: hidden;
  color: #fff;
  background-color: #182647;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 100%;
  margin: 5px 5px 0 0;
  height: 2rem;
  max-width: 10rem;
  line-height: 1.15;
  outline: none;
  overflow: hidden;
  padding: 0 20px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  opacity: 0.9;
}

.btn.btn-pug:not([type="placeholder"]):hover{
  opacity: 1;
}